form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input{
    background-color: grey;
    font-size: medium;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 200px;
}

input::placeholder{
    color: white;
}

button{
    background-color: rgb(128, 0, 0);
    font-size: medium;
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}